<main>
  <nav>
    <div class="logo" (click)="goToHome()">
      <rocket-logo></rocket-logo>
    </div>
    <div class="options">
      <h3>{{user.name}} {{user.lastName}}</h3>
        <a nz-dropdown [nzDropdownMenu]="menu" [class]="'avatar ' + user.team">
          <div>{{avatar}}</div>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item (click)="logout()">Logout</li>
          </ul>
        </nz-dropdown-menu>
    </div>
  </nav>
  <section>
    <ng-content></ng-content>
  </section>
</main>
