
<section >
  <div class="search">
    <h3>Elije a tu pokemon!!!</h3>
    <input type="text">
  </div>
  <div>
    <rocket-pokemon-card></rocket-pokemon-card>
    <rocket-pokemon-card></rocket-pokemon-card>
    <rocket-pokemon-card></rocket-pokemon-card>
    <rocket-pokemon-card></rocket-pokemon-card>
    <rocket-pokemon-card></rocket-pokemon-card>
    <rocket-pokemon-card></rocket-pokemon-card>
    <rocket-pokemon-card></rocket-pokemon-card>
    <rocket-pokemon-card></rocket-pokemon-card>
    <rocket-pokemon-card></rocket-pokemon-card>
    <rocket-pokemon-card></rocket-pokemon-card>
    <rocket-pokemon-card></rocket-pokemon-card>
    <rocket-pokemon-card></rocket-pokemon-card>
    <rocket-pokemon-card></rocket-pokemon-card>
    <rocket-pokemon-card></rocket-pokemon-card>
    <rocket-pokemon-card></rocket-pokemon-card>
  </div>
</section>
