section {
  .search {
    width: 100%;
    & input {
      padding: 10px;
      width: 100%;
      border: none;
      outline: none;
      border-radius: 8px;
      background-color: white;
    }
    margin-bottom: 30px;
  }
  div {
    width: 80%;
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
    justify-content: space-between;
    justify-items: center;
  }
}
