// Backgrounds
$main-back: #111828;
$dark-back: #020304;
$light-back: #202938;
// Colors
$primary-light: #6a72bc;
$primary-dark: #4d5389;
$second-light: #fe7300;
$second-dark: #f04300;

// text
$contrast-text: #fff;
$main-text: #fff;


// Shadow
$main-shadow:  2px 2px 2px 0px rgb(31, 31, 31);
