// Backgrounds
$main-back: #f9f5fe;
$dark-back: #0e0e1b;
$light-back: #fff;
// Colors
$primary-light: #8139e4;
$primary-dark: #6527fb;
$second-light: #fe7300;
$second-dark: #f04300;

// text
$contrast-text: #fff;
$main-text: #333333;
